html, body{
  height: 100%;
  width: 100%;
  margin: 10;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}

hr {
  margin-top: 15px;
  border: 0;
  border-top: 1px solid;
}

#versionNumberText {
  font-size: 20px;
}

.fa, .fa-brands {
  text-decoration: none;
  border-radius: 100px;
  padding: 10px;
  margin: 0px 5px;
}

.fa-github {  
  background-color: rgba(101, 101, 101, 0.8);
  color: rgba(255, 255, 255, 0.8);
}

.fa-mastodon {  
  background-color: rgba(101, 101, 101, 0.8);
  color: rgba(255, 255, 255, 0.8);
}

.flexRow {
  display: flex;
  flex-direction: row;
}