html, body {
  margin: 0;
  background-color: #2e2c2d;
  height: 100%;
  color:rgba(255, 255, 255, 0.8);
  font-family: Helvetica;
}

.grid-container {
  background-color: #2e2c2d;
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: row;
}

.drag-drop-grid-item {
  display: flex;
  flex: 1;
  background-color: #2e2c2d;
  padding: 20px;
}

#drag-drop-zone {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  padding: 20px;
  border: 2px dashed;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.files-grid-item {
  display: flex;
  flex: 2;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.files-container-header{
  display: flex;
  flex-direction: row;
  background-color: #2e2c2d;
  align-items: center;
}
.files-header-title{
  font-size: 18px;
  margin-left: 10px;
}

.bottom-action-bar{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #2e2c2d;
  padding: 10px;
}

.scroll-view{
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 40px;
}

.fileItem1{
  background-color: #212020;
  margin: 0;
  padding: 10px;
}

.fileItem2{
  background-color: #3b383a;
  margin: 0;
  padding: 10px;
}

#loadingContainer {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 100;
  color: 'orange';
}

#loadingText {
  color: #E91E63;
}

button {
  border: none;
  background-color: rgba(150, 150, 150, 0.8);
  color:rgba(255, 255, 255, 0.8);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  padding: 5px;
  border-radius: 3px;
}

button:disabled {
  background-color: rgba(80, 80, 80, 0.8);
  color:rgba(150, 150, 150, 0.8) 
}

button {
  transition-duration: 0.3s;
}

button:enabled:hover {
  background-color: rgba(200, 200, 200, 0.8);
  color:rgba(255, 255, 255, 0.8);
}

input[type=checkbox] {
  background-color: #E91E63;
  color: #E91E63;
}