:root {
  --primary: #292827;
  --primaryDark: #1c1b1b;
  --primaryLight: #363533;
}

html, body{
  font-family: Helvetica;
  display:flex;
  flex-direction:column;
  margin: 0px 10px;
  background-color: var(--primary);
  color:rgba(255, 255, 255, 0.8);
}

h1{
  text-align: center;
}
